# 初学者向けPolars100本ノックver1.0.1
##### Shift + Enter で各セルのコードが実行されます
・print(ans[ 問題番号 ]) で回答コード例を表示  

・[Polars公式リファレンス](https://pola-rs.github.io/polars/py-polars/html/reference/index.html)  
・[Polars公式ガイド](https://pola-rs.github.io/polars-book/user-guide/)  
・[Github](https://github.com/pola-rs/polars)  

・"Data for Titanic passengers" from [VANDERBILT UNIVERSITY](https://biostat.app.vumc.org/wiki/Main/DataSets)  
  
**本コンテンツ作成時のPolarsのバージョンは0.15.16**
  
作成日:2023年2月11日  
最終更新日:2023年2月11日  
再配布・改編不可  
作成者：[kunishou](https://qiita.com/kunishou)

**以下の手順で100本ノックに取り組むことでより習熟しやすくなります。**

① 以下のPolarsに関する記事を一読する  
[pandasから移行する人向け polars使用ガイド](https://qiita.com/nkay/items/9cfb2776156dc7e054c8)  
<br>
② Polars100本ノックの解答表示版に軽く目を通す  
[Polars_100_Knocks_for _Begginer_all_answers_displayes] (http://xxxxxxxxxxxxxx)  
<br>
③ Polars100本ノックに取り組む

In [ ]:
!pip install polars==0.15.16
!pip show pyarrow==10.0.1

In [ ]:
# Shift + Enterで題材データ、回答コードを読み込んで下さい
import pandas as pd
import polars as pl
import glob

#題材データをdfに読み込み(タイタニック号の乗客データ、テストの点数データ 等)
def initialize1():
    df = pl.read_csv('../input/titanic3.csv')
    return df

def initialize2():
    df = pl.read_csv('../input/data1.csv')
    return df

def initialize5():
    df = pl.read_csv('../input/data2.csv')
    return df

df = initialize1()
df2 = initialize2()
df3 = pl.read_csv('../input/data1_2.csv')
df4 = pl.read_csv('../input/data1_3.csv')
df5 = pl.read_csv('../input/data2.csv')

#回答コードをansリストに格納
path = sorted(glob.glob('../input/a_' + '*.txt'))

ans = []

for _ in range(len(path)):
    with open(path[_], 'r',encoding='utf-8') as f:
        ans.append(f.read())
        
print(ans[0])

# Pandas基礎 (1 - 14)

In [ ]:
# 【1】
# dfに読み込んだデータの最初の5行を表示
#print(ans[1]) #解答表示
df = initialize1() #初期化

df.head()

In [ ]:
# 【2】
# dfに読み込んだデータの最初の5行を表示
#print(ans[2]) #解答表示
df = initialize1() #初期化

print(df.glimpse())

In [ ]:
# 【3】
# dfに読み込んだデータの最後の5行を表示
#print(ans[3]) #解答表示
df = initialize1() #初期化

df.tail()

In [ ]:
# 【4】
# dfのDataFrameサイズを確認
#print(ans[4]) #解答表示
df = initialize1() #初期化

df.shape

In [ ]:
# 【5】
# inputフォルダ内のdata1.csvファイルを
# 読み込みdf2に格納して、最初の5行を表示
#print(ans[5]) #解答表示
df2 = initialize2() #初期化

df2 = pl.read_csv('../input/data1.csv')
df2.head()

In [ ]:
# 【6】
# dfのfareの列で昇順に並び替えて表示
#print(ans[6]) #解答表示
df = initialize1() #初期化

df.select(pl.all().sort_by('fare'))

In [ ]:
# 【7】
# df_copyにdfをコピーして、最初の5行を表示
#print(ans[7]) #解答表示
df = initialize1() #初期化

df_copy = df.clone()
df_copy.head()

In [ ]:
# 【8】
# ① dfの各列のデータ型を確認
# ② dfのcabinの列のデータ型を確認
#print(ans[8]) #解答表示
df = initialize1() #初期化

print(df.schema)
print(df.select(pl.col('cabin')).schema)

In [ ]:
# 【9】
# ① dfのpclassの列のデータ型をschemaで確認
# ② 数値型から文字列型に変換し、データ型をschemaで確認
#print(ans[9]) #解答表示
df = initialize1() #初期化

print(df.select(pl.col('pclass')).schema)
df = df.with_columns(pl.col('pclass').cast(pl.Utf8))
print(df.select(pl.col('pclass')).schema)

In [ ]:
# 【10】
# dfのレコード数(行数)を確認
#print(ans[10]) #解答表示
df = initialize1() #初期化

len(df)

In [ ]:
# 【11】
# dfのレコード数(行数)、各列のデータ型、欠損値の有無を確認
#print(ans[11]) #解答表示
df = initialize1() #初期化

df.describe()

In [ ]:
# 【12】
# dfのsex,cabinの列の要素を確認
#print(ans[12]) #解答表示
df = initialize1() #初期化

print(df.select(pl.col('sex').unique()))
print(df.select(pl.col('cabin').unique()))

In [ ]:
# 【13】
# dfの列名一覧を表示
#print(ans[13]) #解答表示
df = initialize1() #初期化

df.columns

In [ ]:
# 【14】
# dfのpclassの列をndarray形式で表示
#print(ans[14]) #解答表示
df = initialize1() #初期化

df.get_column('pclass').to_numpy()

# データ抽出 (15 - 36)

In [ ]:
# 【15】
# selectを使ってdfのpclass列のみ表示
#print(ans[15]) #解答表示
df = initialize1() #初期化

df.select('pclass')
#df.get_column('pclass')

In [ ]:
# 【16】
# get_columnを用いてdfのpclass列のみ表示
#print(ans[16]) #解答表示
df = initialize1() #初期化

df.get_column('pclass')

In [ ]:
# 【17】
# get_columnsを用いてdfのpclass列のみ表示
#print(ans[17]) #解答表示
df = initialize1() #初期化

# df.get_columns()[0]
df.get_columns()[df.find_idx_by_name('pclass')]

In [ ]:
# 【18】
# selectを用いてdfのnameとsexの列のみ表示
#print(ans[18]) #解答表示
df = initialize1() #初期化

df.select(['name', 'sex'])
# df.get_column(['name', 'sex'])

In [ ]:
# 【19】
# get_columnを用いてdfのnameとsexの列のみ表示
#print(ans[19]) #解答表示
df = initialize1() #初期化

df.get_column(['name', 'sex'])

In [ ]:
# 【20】
# dfのname列以外を表示
#print(ans[20]) #解答表示
df = initialize1() #初期化

df.select(pl.all().exclude('name'))

In [ ]:
# 【21】
# dfの4行目までを表示
# なお、確認のためにwith_row_countで
# インデックスを振る
#print(ans[21]) #解答表示
df = initialize1() #初期化

df = df.with_row_count()
df[:4]

In [ ]:
# 【22】
# dfの4行目から10行目までを表示
# なお、確認のためにwith_row_countで
# インデックスを振る
#print(ans[22]) #解答表示
df = initialize1() #初期化

df = df.with_row_count()
df[3:10]

In [ ]:
# 【23】
# selectを使ってdf全体を表示
#print(ans[23]) #解答表示
df = initialize1() #初期化

df.select(pl.all())

In [ ]:
# 【24】
# dfのnameからcabinまでの列を5行目まで表示
#print(ans[24]) #解答表示
df = initialize1() #初期化

df.select(df.columns[2:10])[:5]

In [ ]:
# 【25】
# dfのname,age,sexの列のみ抽出しdf_copyに格納
# その後outputフォルダにcsvファイルで出力
# 出力ファイル名はsample.csv
#print(ans[25]) #解答表示
df = initialize1() #初期化

df_copy = df.select(['name', 'age', 'sex'])
df_copy.write_csv('../output/sample.csv')

In [ ]:
# 【26】
# dfのage列の値が30以上のデータのみ抽出
#print(ans[26]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('age') >= 30)

In [ ]:
# 【27】
# dfのsex列がfemaleのデータのみ抽出
#print(ans[27]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('sex')=='female')

In [ ]:
# 【28】
# dfのsex列がfemaleでかつageが40以上のデータのみ抽出
#print(ans[28]) #解答表示
df = initialize1() #初期化

df.filter((pl.col('sex')=='female') & (pl.col('age') >= 40))

In [ ]:
# 【29】
# dfのsex列がfemaleでかつageが40以上のデータを
# 等号、不等号を使わずに抽出
#print(ans[29]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('sex').eq('female') & pl.col('age').ge(40))

In [ ]:
# 【30】
# dfのcabin列がnullでないデータを抽出
#print(ans[30]) #解答表示
df = initialize1() #初期化

df.filter(~pl.col('cabin').is_null())

In [ ]:
# 【31】
# dfのage列が10以上、40以下のデータを
# 等号、不等号を使わずに抽出
#print(ans[31]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('age').is_between(10,40))

In [ ]:
# 【32】
# dfのname列に文字列「Mrs」が含まれるデータを表示
#print(ans[32]) #解答表示
df = initialize1() #初期化

df.filter(pl.col('name').str.contains('Mrs'))

In [ ]:
# 【33】
# dfの中で文字列型の列のみを表示
#print(ans[33]) #解答表示
df = initialize1() #初期化

df.select(pl.col(pl.Utf8))

In [ ]:
# 【34】
# dfの各列の要素数の確認
#print(ans[34]) #解答表示
df = initialize1() #初期化

for col in df.columns:
    print(col, df[col].n_unique())

In [ ]:
# 【35】
# dfのembarked列の要素と出現回数の確認
#print(ans[35]) #解答表示
df = initialize1() #初期化

df.get_column('embarked').value_counts()

In [ ]:
# 【36】
# dfのすべての列の要素と出現回数の確認
#print(ans[36]) #解答表示
df = initialize1() #初期化

for col in df.get_columns():
    display(col.value_counts())

# データ加工 (37 - 72)

In [ ]:
# 【37】
# dfに with_row_count()でインデックスを振り
# row_nr列が「3」のage列を30から40に変更し、
# 先頭の5行を表示
#print(ans[37]) #解答表示
df = initialize1() #初期化

df = df.with_row_count().with_column(pl.when(pl.col('row_nr')==3).then(40).otherwise(pl.col('age')).alias('age'))
df.head()

In [ ]:
# 【38】
# dfのsex列にてmale→0、femlae→1に
# 変更し、先頭の5行を表示
#print(ans[38]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.when(pl.col('sex')=='male').then(0)
                        .when(pl.col('sex')=='female').then(1)
                        .otherwise(pl.col('sex')).cast(pl.Int64).alias('sex')
                      )
df.head()

In [ ]:
# 【39】
# dfのfare列に100を足して、
# 先頭の5行を表示
#print(ans[39]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col('fare') + 100)
df.head()

In [ ]:
# 【40】
# dfのfare列に2を掛けて、
# 先頭の5行を表示
#print(ans[40]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col('fare') * 2)
df.head()

In [ ]:
# 【41】
# dfのfare列に2を掛けて、
# age列に3を足して
# 先頭の5行を表示
#print(ans[41]) #解答表示
df = initialize1() #初期化

df = df.with_columns([pl.col('fare') * 2, pl.col('age')+3])
df.head()

In [ ]:
# 【42】
# applyを用いてdfのfare列に2を掛けて、
# age列に1を足して
# 先頭の5行を表示
#print(ans[42]) #解答表示
df = initialize1() #初期化

df.apply(lambda x: (x[df.find_idx_by_name('parch')] * 2, x[df.find_idx_by_name('sibsp')] + 1))

In [ ]:
# 【43】
# dfのfare列を小数点以下で丸めて、先頭の5行を表示
#print(ans[43]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col('fare').round(0))
df.head()

In [ ]:
# 【44】
# dfに列名「test」で値がすべて1の
# カラムを追加し、先頭の5行を表示
#print(ans[44]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.lit(1).alias('test'))
df.head()

In [ ]:
# 【45】
# dfに列名「test」で値がすべて1の
# カラムと列名「test2」で値がすべてnullの
# カラムを追加し、先頭の5行を表示
#print(ans[45]) #解答表示
df = initialize1() #初期化

df = df.with_columns([pl.lit(1).alias('test'), pl.lit(None).alias('test2')])
df.head()

In [ ]:
# 【46】
# dfにcabinとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[46]) #解答表示
df = initialize1() #初期化

df = df.with_column((pl.col('cabin') + '_' + pl.col('embarked')).alias('test'))
df.head()

In [ ]:
# 【47】
# dfにageとembarkedの列を「_」で
# 結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[47]) #解答表示
df = initialize1() #初期化

df = df.with_column((pl.col('age').cast(pl.Utf8) + '_' + pl.col('embarked')).alias('test'))
df.head()

In [ ]:
# 【48】
# dfにageとembarkedの列をconcat_strを用いて
# 「_」で結合した列を追加(列名は「test」)し、
# 先頭の5行を表示
#print(ans[48]) #解答表示
df = initialize1() #初期化

df = df.with_column(
    pl.concat_str(pl.col(["age", "embarked"]), "_")
    .alias("test")
    )
df.head()

In [ ]:
# 【49】
# dfからbodyの列を削除し、最初の5行を表示
#print(ans[49]) #解答表示
df = initialize1() #初期化

df.drop_in_place('body')
df.head()

In [ ]:
# 【50】
# dfに with_row_count()でインデックスを振り
# row_nr列が「3」の行を削除し、最初の5行を表示
#print(ans[50]) #解答表示
df = initialize1() #初期化

df = df.with_row_count().filter(pl.col('row_nr') != 3)
df.head()

In [ ]:
# 【51】
# df2の列名を'name', 'class', 'Biology', 'Physics', 'Chemistry'に変更
# df2の最初の5行を表示
#print(ans[51]) #解答表示
df2 = initialize2() #初期化

df2.columns = ['name', 'class', 'Biology', 'Physics', 'Chemistry']
df2.head()

In [ ]:
# 【52】
# df2の列名を'English'をBiology'に変更
# df2の最初の5行を表示
#print(ans[52]) #解答表示
df2 = initialize2() #初期化


df2 = df2.rename({'English': 'Biology'})
df2.head()

In [ ]:
# 【53】
# dfのすべての列の欠損値数を確認
#print(ans[53]) #解答表示
df = initialize1() #初期化

df.null_count()

In [ ]:
# 【54】
# dfのage列の欠損値に30を代入
# その後、ageの欠損値数を確認
#print(ans[54]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col('age').fill_null(30).alias('age'))
df.null_count()

In [ ]:
# 【55】
# dfでひとつでも欠損値がある行を削除
# その後、dfの欠損値数を確認
#print(ans[55]) #解答表示
df = initialize1() #初期化

df = df.drop_nulls()
df.null_count()

In [ ]:
# 【56】
# dfのsurvivedの列をndarray形式(配列)で表示
#print(ans[56]) #解答表示
df = initialize1() #初期化

df.get_column('survived').to_numpy()

In [ ]:
# 【57】
# dfの行をシャッフルし、
# dfの最初の5行を表示
#print(ans[57]) #解答表示
df = initialize1() #初期化

df = df.sample(frac=1.0, shuffle=True)
df.head()

In [ ]:
# 【58】
# ①df2の重複行数をカウント
# ②df2の重複行を削除し、df2を表示
#print(ans[58]) #解答表示
df2 = initialize2() #初期化

print(df2.is_duplicated().sum())
df2 = df2.unique()
df2

In [ ]:
# 【59】
# dfのnameの列をすべて大文字に変換し表示
#print(ans[59]) #解答表示
df = initialize1() #初期化

df.select(pl.col('name').str.to_uppercase())

In [ ]:
# 【60】
# dfのnameの列をすべて小文字に変換し表示
#print(ans[60]) #解答表示
df = initialize1() #初期化

df.select(pl.col('name').str.to_lowercase())

In [ ]:
# 【61】
# dfのsex列に含まれる「female」という単語を
# 「Python」に置換。その後、1行目の
# 「female」が「Python」に置き換わったことを確認
#print(ans[61]) #解答表示
df = initialize1() #初期化

df = df.with_column(pl.col("sex").str.replace("female", "Python"))
df.head()

In [ ]:
# 【62】
# dfのname列1行目の「Allen, Miss. Elisabeth Walton」の
# 「Elisabeth」を消去(import reをインポート)
#print(ans[62]) #解答表示
df = initialize1() #初期化

import re

df = df.with_row_count().with_column(pl.when(pl.col('row_nr')==0)
                                .then(re.sub('Elisabeth','',df.get_column('name')[0:1][0]))
                                .otherwise(pl.col('name')).alias('name'))
df.get_column('name')[0:1][0]

In [ ]:
# 【63】
# df5の都道府県列と市区町村列を空白がないように
# 「_」で結合(新規列名は「test2」)し、先頭5行を表示
# ※df5の「test」列は通常通り結合した場合の結果
#print(ans[63]) #解答表示
df5 = initialize5() #初期化

df5 = df5.with_column(
    pl.col("都道府県").str.rstrip().alias("都道府県名")
).with_column(
    pl.concat_str(pl.col(["都道府県名", "市区町村"]), "_")
    .alias("test2")
).drop("都道府県名")
df5

In [ ]:
# 【64】
# df2の行と列を入れ替えて表示
#print(ans[64]) #解答表示
df2 = initialize2() #初期化

df2.transpose(include_header=True)

# マージと連結(59 - 65)

In [ ]:
# 【65】
# df2にdf3を左結合（結合キーはname）し、df2に格納
#print(ans[65]) #解答表示
df2 = initialize2() #初期化

df2 = df2.join(df3, on='name', how='left')
df2

In [ ]:
# 【66】
# df2にdf3を右結合（結合キーはname）し、df2に格納
#print(ans[66]) #解答表示
df2 = initialize2() #初期化

df2 = df3.join(df2, on='name', how='left')
df2

In [ ]:
# 【67】
# df2にdf3を内部結合（結合キーはname）し、df2に格納
#print(ans[67]) #解答表示
df2 = initialize2() #初期化

df2 = df2.join(df3, on="name", how="inner")
df2

In [ ]:
# 【68】
# df2にdf3を外部結合し、df2に格納
#print(ans[68]) #解答表示
df2 = initialize2() #初期化

df2 = df2.join(df3, on="name", how="outer")
df2

In [ ]:
# 【69】
# df2にdf3を、df3にのみ存在するデータのみを残してて結合
#print(ans[69]) #解答表示
df2 = initialize2() #初期化


df2 = df2.join(df3, on="name", how="semi")
df2

In [ ]:
# 【70】
# df2にdf3を、df3に存在しないデータを残してて結合
#print(ans[70]) #解答表示
df2 = initialize2() #初期化


df2 = df2.join(df3, on="name", how="anti")
df2

In [ ]:
# 【71】
# df2とdf3のそれぞれの行を組み合わせた
#print(ans[71]) #解答表示
df2 = initialize2() #初期化


df2 = df2.join(df3, on="name", how="cross")
df2

In [ ]:
# 【72】
# df2とdf4を列方向に連結し、df2に格納
#print(ans[72]) #解答表示
df2 = initialize2() #初期化

df2 = pl.concat([df2, df4.drop('name')], how="horizontal")
df2

In [ ]:
# 【73】
# df2とdf4を行方向に連結し、df2に格納
#print(ans[73]) #解答表示
df2 = initialize2() #初期化

df2 = pl.concat([df2,df4], how="diagonal")
df2

# 統計 (74 - 89)

In [ ]:
# 【74】
# dfのage列の平均値を確認
#print(ans[74]) #解答表示
df = initialize1() #初期化

df.select(pl.col('age').mean())

In [ ]:
# 【75】
# dfのage列の中央値を確認
#print(ans[75]) #解答表示
df = initialize1() #初期化

df.select(pl.col('age').median())

In [ ]:
# 【76】
# ①df2の生徒ごとの合計点（行方向の合計）
# ②df2の科目ごとの点数の総和（列方向の合計）
#print(ans[76]) #解答表示
df2 = initialize2() #初期化

df2.drop_in_place('class')
print(df2.select(pl.sum(['English','Mathematics','History'])))
print(df2.sum())

In [ ]:
# 【77】
# df2のEnglishで得点の最大値
#print(ans[77]) #解答表示
df2 = initialize2() #初期化

print(df2.select(pl.col('English').max()))

In [ ]:
# 【78】
# df2のEnglishで得点の最小値
#print(ans[78]) #解答表示
df2 = initialize2() #初期化

print(df2.select(pl.col('English').min()))

In [ ]:
# 【79】
# df2においてclassでグルーピングし、クラスごとの科目の
# 最大値、最小値、平均値を求める(name列は削除しておく)
#print(ans[79]) #解答表示
df2 = initialize2() #初期化

df2.drop_in_place('name')
print(df2.groupby(['class']).max())
print(df2.groupby(['class']).min())
print(df2.groupby(['class']).mean())

In [ ]:
# 【80】
# df2においてclassでグルーピングし、aggを用いて
# 各科目の平均、最大値、最小値を求める
# なお、各科目の平均、最大値、最小値には
# 「***_mean」のようにsuffixを振ること
#print(ans[80]) #解答表示
df2 = initialize2() #初期化

df2.drop_in_place('name')
df2.groupby(['class']).agg(
    [
        pl.mean("*").suffix("_mean"),
        pl.max("*").suffix("_max"),
        pl.min("*").suffix("_min"),
    ]
)

In [ ]:
# 【81】
# dfの各列間の(Pearson)相関係数を確認
#print(ans[81]) #解答表示
df = initialize1() #初期化

df.select(pl.all().exclude(pl.Utf8)).pearson_corr()

In [ ]:
# 【82】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
#print(ans[82]) #解答表示
df2 = initialize2() #初期化


from sklearn.preprocessing import StandardScaler

df2 = df2.drop(['name', 'class'])

#標準化を定義
scaler = StandardScaler()

#変換とデータフレームへの置換
scaler.fit_transform(df2.to_numpy()) # 変換のみ
df2_std = pl.DataFrame(scaler.fit_transform(df2.to_numpy()), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが等しくなっていることを確認

In [ ]:
# 【83】
# scikit-learnを用いてdf2のEnglish列を標準化する
# (from sklearn.preprocessing import StandardScalerをインポート)
#print(ans[83]) #解答表示
df2 = initialize2() #初期化

from sklearn.preprocessing import StandardScaler

#標準化を定義
scaler = StandardScaler()
scaler.fit(df2.select(pl.col('English')).to_numpy().reshape(-1,1))

#変換とデータフレームへの置換
scaler.transform(df2['English'].to_numpy().reshape(-1,1)) # 変換のみ
df2_std = pl.DataFrame(scaler.transform(df2['English'].to_numpy().reshape(-1,1))) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #stdが【74】のEnglishと等しくなっていることを確認

In [ ]:
# 【84】
# scikit-learnを用いてdf2のEnglish、Mathematics、History列を
# Min-Maxスケーリングする
# (from sklearn.preprocessing import MinMaxScalerをインポート)
#print(ans[84]) #解答表示
df2 = initialize2() #初期化


from sklearn.preprocessing import MinMaxScaler

df2 = df2.drop(['name','class']) #不要列の削除

# Min-Maxスケーリングを定義
scaler = MinMaxScaler()

# 変換とデータフレームへの置換
scaler.fit_transform(df2.to_numpy()) # 変換のみ
df2_std = pl.DataFrame(scaler.fit_transform(df2.to_numpy()), columns=df2.columns) # 変換とデータフレームへの置換をまとめて行うとこうなる

df2_std.describe() #minが0、maxが1になっていることを確認

In [ ]:
# 【85】
# dfのfare列の最大値、最小値の行名を取得
#print(ans[85]) #解答表示
df = initialize1() #初期化

df = df.with_row_count()

display(df.filter(pl.col('fare') == pl.col('fare').max()))
display(df.filter(pl.col('fare') == pl.col('fare').min()))

In [ ]:
# 【86】
# dfのfare列の0、25、50、75、100パーセンタイルを取得
#print(ans[86]) #解答表示
df = initialize1() #初期化

q_list = [0, 0.25, 0.5, 0.75, 1.0]

for n in q_list:
    print(df.select(pl.col('fare').quantile(n)))

In [ ]:
# 【87】
# ①dfのage列の最頻値を取得
# ②value_counts()にてage列の要素数を
# 確認し、①の結果の妥当性を確認
#print(ans[87]) #解答表示
df = initialize1() #初期化

print(df.filter(~pl.col('age').is_null()).select(pl.col('age').cast(pl.Utf8).mode()))
print(df.select(pl.col('age').value_counts()))

# ラベリング (80 - 81)

In [ ]:
# 【88】
# dfのsex列をラベルエンコーディングし、
# dfの先頭5行を表示
# (from sklearn.preprocessing import LabelEncoderをインポート)
#print(ans[88]) #解答表示
df = initialize1() #初期化

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成
sex = df.select(pl.col('sex')).to_numpy()
labels = le.fit_transform(sex)
df = df.with_column(pl.Series(labels).alias("sex"))
df.head()

In [ ]:
# 【89】
# dfのsex列をOne-hotエンコーディングし、
# dfの先頭5行を表示
#print(ans[89]) #解答表示
df = initialize1() #初期化

df = pl.concat([df.drop('sex'), df.select(pl.col('sex')).to_dummies()], how='horizontal')
df.head()

# タイタニック号の生存者予測 (90 - 100)  
これまで触れてきたタイタニック号の乗客データを使用して、乗客の生存有無を  
予測してみます。  
  
※90～100については順番通りにやらないと上手く動作しません

In [ ]:
# 【90】ラベルエンコーディング
# df_copyのsexとembarked列をラベルエンコーディング
# (from sklearn.preprocessing import LabelEncoderをインポート)
# (df_copyはdfをコピーしたもの)
#print(ans[90]) #解答表示
df = initialize1() #初期化
df_copy =df.clone()

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder() #ラベルエンコーダのインスタンスを作成
sex = df_copy.select(pl.col('sex')).to_numpy()
embarked = df_copy.select(pl.col('embarked')).to_numpy()
label_sex = le.fit_transform(sex)
label_embarked = le.fit_transform(embarked)
df_copy = df_copy.with_columns([pl.Series(label_sex).alias("sex"), pl.Series(label_embarked).alias("embarked")])
df_copy.head()

In [ ]:
# 【91】欠損値確認
# df_copyの欠損値を確認
#print(ans[91]) #解答表示


display(df_copy.null_count())

In [ ]:
# 【92】欠損値補完
# df_copyのage、fare列の欠損値を各列の平均値で補完
#print(ans[92]) #解答表示

df_copy = df_copy.with_columns([pl.col('age').fill_null(pl.col('age').mean())])
df_copy = df_copy.with_columns([pl.col('fare').fill_null(pl.col('fare').mean())])
df_copy.null_count()

In [ ]:
# 【93】不要列の削除
# df_copyの中で機械学習で使用しない不要な行を削除
# (name, ticket, cabin, boat, body, home.destを削除)
#print(ans[93]) #解答表示

df_copy.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home.dest'])
df_copy.head()

In [ ]:
# 【94】ndarray形式への変換
# ①df_copyのpclass、age、sex、fare、embarkedの列を抽出し、ndarray形式に変換
# ②df_copyのsurvivedの列を抽出し、ndarray形式に変換
# (①をfeatures、②をtargetという変数にそれぞれ格納)
#print(ans[94]) #解答表示

features = df_copy.select(['pclass','age','sex','fare','embarked']).to_numpy()
target = df_copy.select('survived').to_numpy()

In [ ]:
# 【95】学習データとテストデータに分割
# 【94】で作成したfeatrues、targetを学習データとテストデータに分割
# (from sklearn.model_selection import  train_test_splitをインポート)
# ※分割時のパラメータは次を指定 test_size=0.3 random_state=0
#print(ans[95]) #解答表示

from sklearn.model_selection import train_test_split

(features , test_X , target , test_y) = train_test_split(features, target , test_size = 0.3 , random_state = 0)

In [ ]:
# 【96】学習の実行
# 学習データ(features、target)を用いランダムフォレストにて学習を実行
# (from sklearn.ensemble import RandomForestClassifierをインポート)
# ※パラメータは次を指定 n_estimators=100 random_state=0
#print(ans[96]) #解答表示

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100,random_state=0) # ランダムフォレストのインスタンスを作成

model.fit(features,target) # 学習の実行

In [ ]:
# 【97】予測の実行
# test_Xデータの乗客の生存を予測
#print(ans[97]) #解答表示

pred = model.predict(test_X)
pred

In [ ]:
# 【98】予測精度の確認
# 予測結果がtest_y(生存有無の答え)とどれぐらい
# 整合していたかを確認(評価指標はaccuracy)
# (from sklearn.metrics import accuracy_scoreをインポート)
#print(ans[98]) #解答表示

from sklearn.metrics import accuracy_score

accuracy_score(pred,test_y)

In [ ]:
# 【99】重要度の確認
# 学習における各列(特徴量)の
# 重要度を表示
#print(ans[99]) #解答表示

importance = model.feature_importances_ 

print('Feature Importances:')
for i, feat in enumerate(['pclass','age','sex','fare','embarked']):
    print('\t{0:20s} : {1:>.5f}'.format(feat, importance[i]))

In [ ]:
# 【100】予測結果のcsv出力
# test_Xの予測結果をcsvでoutputフォルダに出力(ファイル名は「submission.csv」)
# (headerは不要)
#print(ans[100]) #解答表示

df_pred = pl.DataFrame(pred)
df_pred.write_csv('../output/submission.csv', has_header=False)

# ノックお疲れ様でした